<div class="container">
  <h1>Edit/Delete Post (for now)</h1>
  <h4>See, the thing is, you can't REALLY edit it yet.<h4>
        <form action="/edit/<%= @post.id %>" method="POST" id="edit_enter">  
          <label for="title">Title</label>
          <input id="title" type="text" name="post[title]" placeholder="Title" value="<%= @post.title %>"><br>
          <label for="post_body"><br>Post Body:<br>
          <textarea rows="10" cols="50"  name="post[body]" type="text"> <%= @post.body %> </textarea><br>
          <br><label for="author">Author:</label>
          <input id="author" type="author" name="post[author]" placeholder="author name" value="<%= @post.author %>"><br>
          <br><input type="Submit">
        </form>
        <form action="/delete/<%= @post.id %>" method="POST" id="delete"><br> 
          
         <input type="Submit" value="DELETE">
         </form>
</div>
